* {
	margin: 0;
	padding: 0;
}
html, body {
	text-align: center;
	background: #cdc7af;
}
.timeline {
	display: inline-block;
	position: relative;
	margin: 0 auto;
}
.line {
	position: absolute;
	background: #4b4640;
	width: 25px;
	padding: 0;
	border-radius: 1.5px;
}
.main {
	padding: 0;
}
.disabled {
	width: 10px;
	opacity: 0.5;
}
.square-pattern {
	opacity: 0.1;
	mix-blend-mode: multiply;
	z-index: 10;
}

.red {
	border: 1px solid #FF0000;
}
.green {
	border: 1px solid #00FF00;
}
.blue {
	border: 1px solid #00CCFF;
}